#inicial-container {
  background-image: url(../assets/Intro.png);
  height: 750px;
  display: grid;
}

#inicial-content {
  max-width: 100%;
  width: 1040px;
  height: 447px;
  place-self: center;
}

.header {
  width: 680px;
  place-items: center;
  margin: 0px 180px;
  max-width: 100%;

  img {
    margin-top: 120px;
  }
}

.header .subtitle {
  margin-top: 56px;
  margin-bottom: 8px;
}

.header .text-sm {
  margin-top: 20px;
}

.lang {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin-top: 80px;
  width: 754px;
  height: 40px;
  margin: 80px 143px 0px 143px;
  max-width: 100%;
}

.button-lang {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-400);
  border-radius: 999px;
  padding: 8px 16px;
  gap: 8px;
  color: var(--gray-200);
  width: 140px;
}

.arrow-down {
  margin: 220px 702px 60px 702px;
}

.projects {
  display: grid;
  place-content: center;
  background-color: var(--gray-500);
  height: 917px;
  max-width: 100%;
}

.header-projects {
  margin: 72px 163px 56px 163px;
  max-width: 100%;
  width: 1040px;
  place-self: center;
  place-items: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  width: 1040px;
  height: 584px;
  gap: 24px;
  margin: 0px 163px 144px 163px;

  img {
    border-radius: 8px;
    width: 100%;
    object-fit: cover;
  }

  p {
    color: var(--gray-200);
  }

  h3 {
    margin-top: 20px;
    margin-bottom: 8px;
  }
}

.fundo {
  background-color: var(--gray-400);
  height: 280px;
  width: 330px;
  border-radius: 12px;
  padding: 12px;
}

.services {
  background-color: var(--gray-600);
  height: 480px;
  border: 1px solid var(--gray-600);
}

.header-services {
  margin: 88px 500px 56px 500px;
  place-self: center;
  place-items: center;
}

.cards-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  width: 888px;
  height: 155px;
  gap: 24px;
  margin: 56px 163px 144px 163px;
  place-self: center;
  place-items: center;
}

.grid-services {
  display: grid;
  padding: 20px;
  border: 1px solid var(--gray-500);
  border-radius: 12px;
  height: 155px;
  width: 280px;

  .title-sm {
    margin-top: 27px;
    margin-bottom: 8px;
  }
}

.footer {
  background-image: url(../assets/footer-image.png);
  height: 787px;
  border: 1px solid var(--gray-500);
}

.contact {
  place-items: center;
  margin: 128px 473px 48px 473px;
  row-gap: 8px;
}

.social-media {
  width: 400px;
  height: 320px;
  max-width: 100%;
  display: grid;
  place-self: center;
  place-items: center;
}

.social-media-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray-400);
  padding: 20px;
  width: 400px;
  height: 68px;
  border-radius: 8px;

  .icon-text {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
