* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  text-decoration: none;
  list-style: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}