:root {
  --red: #e3646e;
  --purple: #bb72e9;
  --blue: #3996db;
  --green: #82bc4f;
  --yellow: #eabd5f;
  --gray-100: #e2e4e9;
  --gray-200: #c0c4ce;
  --gray-300: #878ea1;
  --gray-400: #292c34;
  --gray-500: #16181d;
  --gray-600: #0d0e11;
  --title-lg: 700 56px/120% var(--font-title);
  --title-md: 700 24px/120% var(--font-title);
  --title-sm: 700 16px/120% var(--font-title);
  --subtitle: 400 20px/120% var(--font-subtitle);
  --text-md: 400 16px/140% var(--font-text);
  --text-sm: 400 14px/140% var(--font-text);
  --font-title: "Asap", sans-serif;
  --font-subtitle: "Inconsolata", monospace;
  --font-text: "Maven Pro", sans-serif;
}

.subtitle {
  font: var(--subtitle);
  color: var(--gray-200);
}

.title {
  font: var(--title-lg);
  color: var(--gray-100);
}

.text-md {
  font: var(--text-md);
  color: var(--gray-200);
}

.text-sm {
  font: var(--text-sm);
  color: var(--gray-300);
}

span {
  color: var(--red);
}

.red {
  color: var(--red);
}